<h1>Product listing now</h1>

<% @product_attribute.each do |attribute| %>
	<li><%=attribute.name%></li>
	<li><%=attribute.value%></li>
	<li><%=attribute.size%></li>
	<li><%=attribute.description%></li>


<% end %>

