<h1>Listing all the Product Items</h1>

<% @products.each do |product| %>
	<l1> <%= product.name %> </l1>
	<l1> <%= link_to "Edit", edit_product_path(product) %>   <%= link_to "Delete", product_path(product) , method: :delete, data: {confirm: "are u sure?"} %> </l1>
<% end %>

<h3><%= link_to "Create Product Items", products_itemsnew_path %></h3>